/* Fonts
font-family: neusa-next-std,sans-serif;
font-weight: 700;
font-style: normal;

font-family: neusa-next-std,sans-serif;
font-weight: 400;
font-style: italic;

font-family: neusa-next-std,sans-serif;
font-weight: 500;
font-style: italic;

font-family: neusa-next-std,sans-serif;
font-weight: 500;
font-style: normal;

font-family: neusa-next-std,sans-serif;
font-weight: 700;
font-style: italic;

font-family: neusa-next-std,sans-serif;
font-weight: 400;
font-style: normal;

font-family: le-monde-livre-classic-byol,serif;
font-weight: 300;
font-style: normal;

*/

/* ==== VARIABLER ====*/

html {
  --space-xxl: 4rem;
  --space-xll: 3rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space-h3: 1.17rem;
  --space-m: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #c5ddfc;
}

a {
  text-decoration: none;
  color: #ff7562;
}

a:visited {
  color: #ff7562;
}

p {
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1.2;
  font-size: var(--space-m);
  max-width: 60ch;
}

h1 {
  font-family: neusa-next-std, sans-serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  font-size: var(--space-xl);
  margin-block-start: var(--space-m);
  margin-inline: var(--space-l);
  color: #4a5259;
}

h2 {
  font-family: neusa-next-std, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--space-l);
  color: #4a5259;
}

h3 {
  font-family: neusa-next-std, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--space-h3);
  color: #4a5259;
}

main {
  max-width: 1200px;
  margin-inline: auto;
  color: #4a5259;
}

.flex {
  display: flex;
}

hr {
  margin-block: var(--space-xl);
  margin-inline: auto;
  width: 80%;
}

/* ==== HEADER CSS ===== */

header {
  align-items: center;
  z-index: 50;
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: #fce9c5;
  box-shadow: 0.5px 1px 1px #353b40;
}

.logo {
  width: 65px;
  height: 65px;
  margin-block-start: var(--space-s);
  margin-inline-start: var(--space-xl);
}

.menu-ul a {
  color: #004643;
  font-family: neusa-next-std, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: var(--space-m);
  overflow: hidden;
  display: block;
  position: relative;
  margin-inline: 30vw;
  margin-block: var(--space-m);
  padding-block: var(--space-m);
  padding-block-end: var(--space-xs);
}

.menuItem:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: #ff7562;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
  transform: translate3d(0, 0, 0);
}

.page-active {
  background-color: #ff7562;
}

.burger {
  position: fixed;
  top: var(--space-l);
  right: var(--space-xl);
  padding: 4px;
  border: none;
  background: #fce9c5;
  cursor: pointer;
}

.closeIcon {
  display: none;
  transition: transform 0.2s ease-out;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  top: 81.35px;
  left: 0%;
  background: #fce9c5;
  list-style: none;
  border: 1px solid #004643;
  z-index: 50;
}

.menu li {
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.transition-burger {
  transition: transform 0.2s;
}

.hide {
  display: none;
}

.breadcrumb {
  margin-block: var(--space-m);
}

.breadcrumb h4 {
  text-align: center;
  color: #4a56e2;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: italic;
}
.breadcrumb span {
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  margin-inline: var(--space-s);
}

.breadcrumb a {
  color: #4a56e2;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}

.tema-beskrivelse {
  display: block;
  margin-block-end: var(--space-l);
  margin-inline-start: var(--space-m);
}

/*===== Front Page =======*/

.index-top {
  text-align: center;
  margin-block-end: var(--space-xl);
}

.front-mobile-jonas {
  width: auto;
  height: 40vh;
  margin-inline: auto;
}

article > h2 {
  margin-inline: var(--space-l);
  margin-block-end: var(--space-m);
}

.wb-text h2 {
  margin-block-end: var(--space-m);
  margin-inline-start: var(--space-s);
}

.window-article {
  display: none;
}

.mobile-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: var(--space-l);
  margin-block-end: var(--space-l);
}

.mobile-article p {
  margin-inline: var(--space-l);
  margin-block-end: var(--space-m);
}

.span-til-tema-front {
  color: #ff7562;
  cursor: pointer;
}

.section-flex {
  margin-inline: var(--space-xxl) var(--space-xl);
}
.section-flex h2 {
  margin-block-end: var(--space-xs);
}

.front-page-flex {
  flex-direction: column;
}

.front-page-flex li {
  list-style-type: disc;
  margin-inline-start: var(--space-l);
  margin-block: var(--space-xs);
}

.front-page-flex a {
  cursor: pointer;
  color: #4a5259;
  display: inline-block;
  margin-inline: 0 var(--space-s);
  padding-inline: 0 var(--space-s);
  padding-block: var(--space-s);
  max-width: 300px;
}

.front-page-flex a:hover {
  background-color: #fce9c5;
  border-radius: 5%;
  padding-inline: var(--space-s);
  transition: all 0.7s ease-in-out;
}

/*===== Grid =======*/
.grid-4_3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*===== Tema 01 =======*/

.tema-beskrivelse {
  margin-inline: var(--space-l);
}

.tema-beskrivelse li,
.flex-rows li {
  list-style: disc;
  margin-inline-start: var(--space-xll);
  max-width: 60ch;
}

.tema-beskrivelse p {
  margin-block: var(--space-m);
}

.erfaringer > h2 {
  margin-inline-start: var(--space-l);
  margin-block: var(--space-l) var(--space-s);
}

.flex-img {
  width: 300px;
  height: auto;
  margin-inline-start: var(--space-xl);
  border-radius: 2%;
}

.flex-rows h3,
.flex-rows p {
  margin-inline-start: var(--space-l);
  margin-block: var(--space-s);
}

.flex-rows p {
  margin-block-end: var(--space-l);
}

.grid-4_3-img1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 200px;
  height: auto;
  margin-inline-start: var(--space-l);
  border-radius: 2%;
}
.grid-4_3-img2 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  width: 200px;
  height: auto;
  margin-inline-start: var(--space-l);
  border-radius: 2%;
}

/*===== Tema 04 =======*/

.animations-box > div {
  margin-inline-start: var(--space-xxl);
}

.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 0.775s;
  animation-delay: 0.275s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes forsvind_kf {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.flaske_container {
  width: 250px;
  height: 250px;
}

.hel_flaske {
  background-position: 0%;
}

.knust_flaske {
  background-position: -100%;
}

.good_sprite1 {
  background-image: url(/images/dansk_klar.svg);
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
}

/*===== About =======*/

#about-top {
  margin-block-end: var(--space-l);
}

video {
  width: 300px;
  display: block;
  opacity: 0.5;
  margin-inline-start: var(--space-m);
  border-radius: 2%;
}

figcaption {
  padding-inline-start: var(--space-m);
  margin-block: var(--space-s);
  font-family: neusa-next-std, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--space-l);
}

.playing video {
  opacity: 1;
}

.video-player-button {
  font-size: var(--space-m);
  letter-spacing: 0.08rem;
  margin-inline-start: var(--space-m);
  background: none;
  border: solid 2px #4a5259;
  border-radius: 5%;
  color: #004643;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-family: neusa-next-std, sans-serif;
  font-weight: 700;
  font-style: italic;
  outline: none;
  padding: var(--space-s) var(--space-l);
  text-transform: uppercase;
  transition: all 0.3s;
}

.playing .video-player-button {
  background: #ff7562;
}
.abouth2 {
  margin-inline-start: var(--space-m);
  margin-block: var(--space-m) var(--space-l);
  font-size: var(--space-l);
}

.grid-1_1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-inline: var(--space-m);
  gap: var(--space-m);
}

.about-box,
.cv-box,
.edu-box {
  padding-block: var(--space-s);
  padding-inline: var(--space-s);
}

about-table {
  border-bottom: 1px solid #4a5259;
}

td {
  padding-inline-end: var(--space-m);
  padding-block: var(--space-s);
  border-bottom: 1px solid #4a5259;
}

.tr_quest {
  font-weight: 900;
}

.about-box > h3,
.cv-box > h3,
.edu-box > h3 {
  margin-block: var(--space-s) var(--space-m);
  text-decoration: underline;
  text-underline-offset: 7px;
}

/* ===== Contact Form ===== */

.contact {
  margin-inline: var(--space-m);
  margin-block-start: var(--space-xl);
}

.contact_form {
  margin-inline: var(--space-m);
}

.contact_form > h3 {
  padding-block-start: var(--space-m);
  font-weight: 400;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 0.1px #4a5259;
  max-width: 900px;
  margin-inline: var(--space-xll);
  margin-block: var(--space-m);
  position: relative;
  background-color: #fce9c5;
}

form {
  padding: var(--space-xl);
  margin-block: var(--space-l);
}

#h2_contact {
  font-family: neusa-next-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #4a5259;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding-block-start: var(--space-m);
}

label {
  display: block;
  color: #4a5259;
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  padding-block: var(--space-s);
}

input[type="text"],
[type="email"],
select {
  background: none;
  border: none;
  border-bottom: solid 2px #4a5259;
  color: #4a5259;
  font-size: var(--space-m);
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  margin-block: 0 var(--space-xl);
  padding-block: 0 var(--space-s);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #4a5259;
  color: #4a5259;
  font-size: var(--space-m);
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  margin-block-end: var(--space-xl);
  padding-block-end: var(--space-m);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 1em 0;
}

.name {
  width: 100%;
}

.email {
  width: 100%;
}

.telephone {
  width: 100%;
}

.subject {
  width: 100%;
}

select {
  appearance: none;
  background: url("/images/arrow_down.svg") no-repeat right;
  outline: none;
}

textarea {
  font-family: le-monde-livre-classic-byol, serif;
  font-weight: 300;
  font-style: normal;
  color: #4a5259;
  font-size: 1.1rem;
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #4a5259;
  border-radius: 5%;
  color: #4a5259;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875em;
  font-family: neusa-next-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  outline: none;
  padding-block: var(--space-m);
  padding-inline: var(--space-m);
  text-transform: uppercase;
  transition: all 0.3s;
}

#form_button:hover {
  background: #4a5259;
  color: #f0f0f0;
}

.captcha {
  margin-block-end: var(--space-l);
}

/*===== TAK.HTML =======*/

.tak-top {
  text-align: center;
  margin-block-start: var(--space-xxl);
}

.takh2 {
  text-align: center;
  margin-block: var(--space-l);
}

.to-index-button {
  display: inline-block;
  margin-inline: auto;
}

.to-index-button button {
  background: none;
  border: solid 2px #4a5259;
  border-radius: 5%;
  color: #4a5259;
  cursor: pointer;
  font-size: var(--space-m);
  font-family: neusa-next-std, sans-serif;
  font-weight: 700;
  font-style: normal;
  outline: none;
  padding-block: var(--space-l);
  padding-inline: var(--space-l);
  text-transform: uppercase;
  transition: all 0.3s;
}

.to-index-button button:hover {
  background: #4a5259;
  color: #f0f0f0;
}

.about-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*===== Footer =======*/
footer {
  background-color: #fce9c5;
  width: 100%;
  margin-block-start: var(--space-m);
  padding-block-start: var(--space-s);
}

.footer-tak {
  position: absolute;
  bottom: 0;
}

#footerID {
  margin-inline: auto;
  font-family: neusa-next-std, sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: var(--space-m);
  color: #4a5259;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  gap: var(--space-m);
  margin-inline: auto;
  padding-block: var(--space-s);
}

.socials > a > img {
  width: 25px;
  height: auto;
}

.socials > a > img:hover {
  animation-name: socials_kf;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes socials_kf {
  0% {
    width: 25px;
  }

  100% {
    width: 35px;
  }
}

/*===== MEDIA Q =======*/

@media (min-width: 550px) {
  video {
    width: 450px;
  }
}

@media (min-width: 800px) {
  h1 {
    font-size: var(--space-xl);
    margin-block-start: var(--space-xll);
    margin-inline-start: var(--space-xxl);
  }

  hr {
    margin-block: var(--space-xxl);
    margin-inline: auto;
    width: 60%;
  }

  .index-top {
    margin-block-end: var(--space-s);
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: var(--space-xl);
    box-shadow: 2px 4px 4px #353b40;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  header nav ul li {
    text-align: center;
    margin-block-end: 0;
  }

  .menuItem span {
    display: none;
  }

  .main-menu a {
    color: black;
    overflow: hidden;
    display: block;
    position: relative;
    margin-inline: var(--space-s);
    padding-block-end: var(--space-xs);
    cursor: pointer;
    min-width: 7ch;
    max-width: 75px;
  }

  .menuItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: #ff7562;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  .main-menu a:hover::after,
  .main-menu a:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .om-mig-li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ==== FRONT PAGE ====== */
  .mobile-article {
    display: none;
  }

  .window-article {
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    background-image: url(/images/jonas_wbc.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: auto;
    transition: all 0.3s ease-in-out;

    display: grid;
    grid-template-columns: repeat(10, 85px);
    grid-template-rows: repeat(6, 60px);
  }

  .wb-text {
    grid-column: 5 / 9;
    grid-row: 2 / 5;
  }

  .wb-text p {
    line-height: 1.2;
    margin-inline: var(--space-m);
    margin-block-end: var(--space-m);
  }

  .section-flex {
    width: 850px;
    margin-inline: auto;
  }

  .section-flex > h2 {
    margin-block-start: var(--space-l);
    margin-inline-start: 7rem;
  }

  .front-page-flex {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-items: start;
    margin-inline-start: 7rem;
  }

  /* ====== FLEX ====== */
  .flex-rows {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    margin-block-end: var(--space-xl);
    margin-inline-start: 0;
  }

  .flex-rows h3 {
    margin-block-end: var(--space-m);
    margin-inline-start: 0;
  }

  .flex-rows p {
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: var(--space-s);
  }

  .flex-rows li {
    margin-inline-start: var(--space-l);
  }

  .flex-img {
    width: 500px;
    height: fit-content;
    margin-inline-start: 0;
  }

  /* ==== Tema 01 ====== */
  .tema-beskrivelse {
    margin-inline: var(--space-xxl);
  }

  .erfaringer {
    margin-inline: var(--space-xxl);
  }
  .erfaringer > h2 {
    margin-inline: 0;
    margin-block-end: var(--space-m);
  }

  .boks-2 {
    order: -1;
  }

  .grid-4_3-img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 280px;
    min-width: 150px;
    height: auto;
  }

  .grid-4_3-img2 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    width: 280px;
    min-width: 150px;
    height: auto;
  }

  /* ==== About ====== */

  video {
    width: 720px;
    margin-inline: var(--space-xxl);
  }

  .video-player-button,
  figcaption {
    display: inline;
  }

  .video-player-button {
    margin-block: 12px;
    margin-inline-start: var(--space-xxl);
  }

  figcaption {
    margin-inline: var(--space-xll) var(--space-xs);
    margin-block: 12px;
  }

  .abouth2 {
    margin-inline-start: var(--space-xxl);
    margin-block: var(--space-m) var(--space-l);
    font-size: var(--space-xl);
  }

  .about-box {
    border: 1px solid #4a5259;
    border-radius: 1%;
    box-shadow: 5px 10px 8px #353b40;
  }
  .cv-box {
    border: 1px solid #4a5259;
    border-radius: 1%;
    box-shadow: 5px 10px 8px #353b40;
  }
  .edu-box {
    border: 1px solid #4a5259;
    box-shadow: 5px 10px 8px #353b40;
    border-radius: 1%;
  }

  .grid-1_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: var(--space-m);
    margin-block-end: var(--space-xxl);
    gap: var(--space-m);
  }

  .about-flex {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    justify-content: center;
  }

  .about-box > h3,
  .cv-box > h3,
  .edu-box > h3 {
    text-align: center;
  }

  .contact {
    margin-inline: var(--space-xxl);
    margin-block-start: var(--space-s);
  }

  /* ==== FRONT PAGE ====== */
}
