/* ==== VARIABLER ====*/

html {
  --space-xxl: 4rem;
  --space-xll: 3rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space-h3: 1.17rem;
  --space-m: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: red;
}

a:visited {
  color: red;
}

p {
  font-size: var(--space-m);
  max-width: 60ch;
}

h1 {
  font-size: var(--space-xl);
  margin-block: var(--space-m);
  margin-inline: var(--space-l);
}

h2 {
  font-size: var(--space-l);
}

h3 {
  font-size: var(--space-h3);
}

main {
  max-width: 1200px;
  margin-inline: auto;
}

.flex {
  display: flex;
}

hr {
  margin-block: var(--space-xl);
  margin-inline: auto;
  width: 80%;
}

/* ==== HEADER CSS ===== */

header {
  align-items: center;
  z-index: 50;
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: beige;
}

.logo {
  width: 50px;
  height: 50px;
  margin-block-start: var(--space-s);
  margin-inline-start: var(--space-xl);
}

.menu-ul a {
  color: black;
  overflow: hidden;
  display: block;
  position: relative;
  margin-inline: 30vw;
  margin-block: var(--space-m);
  padding-block-end: var(--space-xs);
}

.menuItem:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: blue;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
  transform: translate3d(0, 0, 0);
}

.page-active {
  background-color: blueviolet;
}

.burger {
  position: fixed;
  top: var(--space-s);
  right: var(--space-xl);
  padding: 4px;
  border: none;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
  transition: transform 0.2s ease-out;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  top: 65.85px;
  left: 0%;
  background: white;
  list-style: none;
  z-index: 50;
  border: 1px dashed black;
}

.menu li {
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.transition-burger {
  transition: transform 0.2s;
}

.hide {
  display: none;
}

.breadcrumb {
  margin-block: var(--space-m);
}

.breadcrumb h4 {
  text-align: center;
}
.breadcrumb span {
  margin-inline: var(--space-s);
}

/*===== Front Page =======*/

.index-top {
  text-align: center;
  margin-block-end: var(--space-xl);
}

.front-mobile-jonas {
  width: auto;
  height: 40vh;
  margin-inline: auto;
}

article > h2,
.wb-text h2 {
  margin-inline: var(--space-l);
  margin-block-end: var(--space-m);
}

.window-article {
  display: none;
}

.mobile-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: var(--space-l);
  margin-block-end: var(--space-l);
}

.mobile-article p {
  line-height: 1.1;
  margin-inline: var(--space-l);
  margin-block-end: var(--space-m);
}

.span-til-tema-front {
  color: red;
  cursor: pointer;
}

.section-flex {
  margin-inline: var(--space-xxl) var(--space-xl);
}
.section-flex h2 {
  margin-block-end: var(--space-xs);
}

.front-page-flex {
  flex-direction: column;
}

.front-page-flex li {
  list-style-type: disc;
  margin-inline-start: var(--space-l);
  margin-block: var(--space-xs);
}

.front-page-flex a {
  cursor: pointer;
  color: black;
  display: inline-block;
  max-width: 300px;
}

.front-page-flex a:hover {
  background-color: pink;
  transition: all 0.7s ease-in-out;
}

/*===== Grid =======*/
.grid-4_3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/*===== Tema 01 =======*/

.tema-beskrivelse {
  margin-inline: var(--space-l);
}

.tema-beskrivelse li,
.flex-rows li {
  list-style: disc;
  margin-inline-start: var(--space-xll);
}

.tema-beskrivelse p {
  line-height: 1.1;
  margin-block: var(--space-m);
}

.erfaringer > h2 {
  margin-inline-start: var(--space-l);
  margin-block: var(--space-l) var(--space-s);
}

.flex-img {
  width: 300px;
  height: auto;
  margin-inline-start: var(--space-xl);
  border-radius: 2%;
}

.flex-rows h3,
.flex-rows p {
  margin-inline-start: var(--space-l);
}

.flex-rows p {
  margin-block-end: var(--space-l);
}

.grid-4_3-img1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  width: 200px;
  height: auto;
  margin-inline-start: var(--space-l);
  border-radius: 2%;
}
.grid-4_3-img2 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  width: 200px;
  height: auto;
  margin-inline-start: var(--space-l);
  border-radius: 2%;
}

/*===== Tema 04 =======*/

.animations-box > div {
  margin-inline-start: var(--space-xxl);
}

.forsvind {
  animation-name: forsvind_kf;
  animation-duration: 0.775s;
  animation-delay: 0.275s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes forsvind_kf {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.flaske_container {
  width: 250px;
  height: 250px;
}

.hel_flaske {
  background-position: 0%;
}

.knust_flaske {
  background-position: -100%;
}

.good_sprite1 {
  background-image: url(/images/dansk_klar.svg);
  background-size: 200% 100%;
  width: 100%;
  height: 100%;
}

/*===== About =======*/
video {
  width: 420px;
  display: block;
  opacity: 0.5;
  margin-inline-start: var(--space-m);
  border-radius: 2%;
}

figcaption {
  padding-inline-start: var(--space-m);
  margin-block-end: var(--space-s);
}

.playing video {
  opacity: 1;
}

.video-player-button {
  background: #f97e72;
  color: #000;
  border: none;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.075rem;
  padding: 0.5rem 1rem;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.3s;
  margin-inline-start: var(--space-m);
}

.playing .video-player-button {
  background: violet;
}
.abouth2 {
  margin-inline-start: var(--space-m);
  margin-block: var(--space-m);
}

.about-box,
.cv-box,
.edu-box {
  padding-block: var(--space-s);
  padding-inline: var(--space-s);
}

about-table {
  border-bottom: 1px solid black;
}

td {
  padding-inline-end: var(--space-m);
  padding-block: var(--space-s);
  border-bottom: 1px solid black;
}

.tr_quest {
  font-weight: 900;
}

.about-box > h3,
.cv-box > h3,
.edu-box > h3 {
  margin-block: var(--space-s) var(--space-m);
  text-decoration: underline;
  text-underline-offset: 7px;
}

/* ===== Contact Form ===== */

.contact {
  margin-inline: var(--space-xxl);
  margin-block-start: var(--space-xxl);
}
.contact_form {
  margin-inline: var(--space-xxl);
}

.contact_form > h3 {
  padding-block-start: var(--space-m);
  font-weight: 400;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
input,
select,
textarea {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 0.1px #474544;
  max-width: 900px;
  margin: 10px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 30px 0;
}

#h1_contact {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #474544;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  padding-block-start: 1em;
}

input[type="text"],
[type="email"],
select {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2.3em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 2em 0;
  padding: 0 0 1em 0;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  outline: none;
  padding: 0 0 1em 0;
}

.name {
  width: 100%;
}

.email {
  width: 100%;
}

.telephone {
  width: 100%;
}

.subject {
  width: 100%;
}

select {
  appearance: none;
  background: url("img/svg/arrow_down.svg") no-repeat right;
  outline: none;
}

textarea {
  font-family: "EB Garamond", serif;
  color: #000000;
  font-size: 1.1rem;
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #f2f3eb;
}

/*===== MEDIA Q =======*/

@media (min-width: 800px) {
  h1 {
    font-size: var(--space-xl);
    margin-block-start: var(--space-l);
    margin-inline-start: var(--space-xxl);
  }

  hr {
    margin-block: var(--space-xxl);
    margin-inline: auto;
    width: 60%;
  }

  .index-top {
    margin-block-end: var(--space-s);
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: var(--space-xl);
    border: 1px dotted blue;
    background-color: beige;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  header nav ul li {
    text-align: center;
    margin-block-end: 0;
  }

  .menuItem span {
    display: none;
  }

  .main-menu a {
    color: black;
    overflow: hidden;
    display: block;
    position: relative;
    margin-inline: var(--space-s);
    padding-block-end: var(--space-xs);
    cursor: pointer;
    min-width: 7ch;
    max-width: 75px;
  }

  .menuItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: blue;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  .main-menu a:hover::after,
  .main-menu a:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .om-mig-li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ==== FRONT PAGE ====== */
  .mobile-article {
    display: none;
  }

  .window-article {
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    background-image: url(/images/jonas_wbc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: auto;
    transition: all 0.3s ease-in-out;

    display: grid;
    grid-template-columns: repeat(10, 85px);
    grid-template-rows: repeat(6, 60px);
  }

  .wb-text {
    grid-column: 5 / 9;
    grid-row: 2 / 5;
  }

  .wb-text p {
    line-height: 1.2;
    margin-inline: var(--space-m);
    margin-block-end: var(--space-m);
  }

  /* ====== FLEX ====== */
  .flex-rows {
    display: flex;
    flex-direction: row;
    gap: var(--space-xl);
    margin-block-end: var(--space-xl);
    margin-inline-start: 0;
  }

  .flex-rows h3 {
    margin-block-end: var(--space-m);
    margin-inline-start: 0;
  }

  .flex-rows p {
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: var(--space-s);
  }

  .flex-rows li {
    margin-inline-start: var(--space-l);
  }

  .flex-img {
    width: 550px;
    height: fit-content;
    margin-inline-start: 0;
  }

  /* ==== Tema 01 ====== */
  .tema-beskrivelse {
    margin-inline: var(--space-xxl);
  }

  .erfaringer {
    margin-inline: var(--space-xxl);
  }
  .erfaringer > h2 {
    margin-inline: 0;
    margin-block-end: var(--space-m);
  }

  .boks-2 {
    order: -1;
  }

  .grid-4_3-img1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    width: 350px;
    min-width: 150px;
    height: auto;
  }

  .grid-4_3-img2 {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    width: 350px;
    min-width: 150px;
    height: auto;
  }

  /* ==== About ====== */

  video {
    width: 720px;
    margin-inline: auto;
  }

  .video-player-button,
  figcaption {
    margin-block-start: var(--space-m);
    display: inline;
  }

  .video-player {
    text-align: center;
  }

  .about-box {
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 5px 10px 8px #888888;
  }
  .cv-box {
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 5px 10px 8px #888888;
  }
  .edu-box {
    border: 1px solid black;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 1%;
  }

  .grid-1_1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: var(--space-m);
    gap: var(--space-m);
  }
  .about-flex {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
    justify-content: center;
  }

  .about-box > h3,
  .cv-box > h3,
  .edu-box > h3 {
    text-align: center;
  }

  /* ==== FRONT PAGE ====== */
}
