/* ==== VARIABLER ====*/

html {
  --space-xxl: 4rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space-h3: 1.17rem;
  --space-m: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* ==== HEADER CSS ===== */

header {
  align-items: center;
  z-index: 50;
  position: sticky;
  top: 0%;
  width: 100%;
}

.logo {
  width: 50px;
  height: 50px;
  margin-block-start: var(--space-s);
  margin-inline-start: var(--space-xl);
}

.main-menu a {
  color: black;
  overflow: hidden;
  display: block;
  position: relative;
  padding-inline: 30vw;
  padding-block: var(--space-s);
}

.header-link:hover {
  background-color: aquamarine;
  transition: all 0.4s ease-in-out;
}

.page-active {
  background-color: blueviolet;
}

.burger {
  position: fixed;
  top: var(--space-s);
  right: var(--space-xl);
  padding: 4px;
  border: none;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
  transition: transform 0.2s ease-out;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  top: 65.85px;
  left: 0%;
  background: white;
  list-style: none;
  z-index: 50;
  border: 1px dashed black;
}

.menu li {
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.transition-burger {
  transition: transform 0.2s;
}

.hide {
  display: none;
}

li .header-about {
  padding-block-end: var(--space-m);
}

/*===== MEDIA Q =======*/

@media (min-width: 800px) {
  h1 {
    font-size: var(--space-xl);
    padding-block-start: var(--space-xl);
    padding-inline-start: 2.4rem;
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: var(--space-xl);
    border: 1px dotted blue;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  header nav ul li {
    text-align: center;
    vertical-align: baseline;
    border: 1px dashed red;
    margin-block-end: 0;
  }

  .om-mig-li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li .header-theme {
    padding-block: var(--space-l);
    padding-inline: var(--space-m);
  }

  li .header-about {
    padding-block: 33.34px;
    padding-inline: var(--space-m);
  }
}
