/* ==== VARIABLER ====*/

html {
  --space-xxl: 4rem;
  --space-xl: 2rem;
  --space-l: 1.5rem;
  --space-h3: 1.17rem;
  --space-m: 1rem;
  --space-s: 0.75rem;
  --space-xs: 0.5rem;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: red;
}

a:visited {
  color: red;
}

p {
  font-size: var(--space-m);
  max-width: 60ch;
}

h1 {
  font-size: var(--space-xl);
  margin-block: var(--space-m);
  margin-inline: var(--space-m);
}

h2 {
  font-size: var(--space-l);
}

h3 {
  font-size: var(--space-h3);
}

.flex {
  display: flex;
}

/* ==== HEADER CSS ===== */

header {
  align-items: center;
  z-index: 50;
  position: sticky;
  top: 0%;
  width: 100%;
  background-color: beige;
}

.logo {
  width: 50px;
  height: 50px;
  margin-block-start: var(--space-s);
  margin-inline-start: var(--space-xl);
}

.menu-ul a {
  color: black;
  overflow: hidden;
  display: block;
  position: relative;
  margin-inline: 30vw;
  margin-block: var(--space-m);
  padding-block-end: var(--space-xs);
}

.menuItem:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: blue;
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
  transform: translate3d(-100%, 0, 0);
}

.main-menu a:hover::after,
.main-menu a:focus::after {
  transform: translate3d(0, 0, 0);
}

.page-active {
  background-color: blueviolet;
}

.burger {
  position: fixed;
  top: var(--space-s);
  right: var(--space-xl);
  padding: 4px;
  border: none;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
  transition: transform 0.2s ease-out;
}

.menu {
  position: fixed;
  transform: translateX(-100%);
  top: 65.85px;
  left: 0%;
  background: white;
  list-style: none;
  z-index: 50;
  border: 1px dashed black;
}

.menu li {
  text-align: center;
}

.showMenu {
  transform: translateY(0);
}

.transition-burger {
  transition: transform 0.2s;
}

.hide {
  display: none;
}

/*===== Front Page =======*/

.index-top {
  text-align: center;
  margin-block-end: var(--space-xl);
}

.front-mobile-jonas {
  width: auto;
  height: 40vh;
  margin-inline: auto;
}

article > h2,
.wb-text h2 {
  margin-inline: var(--space-m);
  margin-block-end: var(--space-m);
}

.window-article {
  display: none;
}

.mobile-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-inline: var(--space-m);
  margin-block-end: var(--space-l);
}

.mobile-article p {
  line-height: 1.1;
  margin-inline: var(--space-m);
  margin-block-end: var(--space-m);
}

.span-til-tema-front {
  color: red;
  cursor: pointer;
}

.section-flex {
  margin-inline: var(--space-xxl) var(--space-l);
}
.section-flex h2 {
  margin-block-end: var(--space-xs);
}

.front-page-flex {
  flex-direction: column;
}

.front-page-flex li {
  list-style-type: disc;
  margin-inline-start: var(--space-m);
  margin-block: var(--space-xs);
}

.front-page-flex a {
  cursor: pointer;
  color: black;
  display: block;
}

.front-page-flex a:hover {
  background-color: pink;
  transition: all 0.7s ease-in-out;
}

/*===== XXXXX =======*/

/*===== MEDIA Q =======*/

@media (min-width: 800px) {
  h1 {
    font-size: var(--space-xl);
    padding-block-start: var(--space-l);
    padding-inline-start: 2.4rem;
  }

  .index-top {
    margin-block-end: var(--space-s);
  }

  .logo {
    width: 75px;
    height: 75px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline-start: var(--space-xl);
    border: 1px dotted blue;
    background-color: beige;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  header nav ul li {
    text-align: center;
    vertical-align: baseline;
    margin-block-end: 0;
  }

  .menuItem span {
    display: none;
  }

  .main-menu a {
    color: black;
    overflow: hidden;
    display: block;
    position: relative;
    margin-inline: var(--space-s);
    padding-block-end: var(--space-xs);
    cursor: pointer;
    min-width: 7ch;
    max-width: 75px;
  }

  .menuItem:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.2em;
    background-color: blue;
    opacity: 1;
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
  }

  .main-menu a:hover::after,
  .main-menu a:focus::after {
    transform: translate3d(0, 0, 0);
  }

  .om-mig-li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ==== FRONT PAGE ====== */
  .mobile-article {
    display: none;
  }

  .window-article {
    min-width: 600px;
    max-width: 900px;
    height: 500px;
    background-image: url(/images/jonas_wbc.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-inline: auto;
    transition: all 0.3s ease-in-out;

    display: grid;
    grid-template-columns: repeat(10, 85px);
    grid-template-rows: repeat(6, 60px);
  }

  .wb-text {
    grid-column: 5 / 9;
    grid-row: 2 / 5;
  }

  .wb-text p {
    line-height: 1.2;
    margin-inline: var(--space-m);
    margin-block-end: var(--space-m);
  }
}
